.App {
  text-align: center;
  font-family: 'Roboto', helvetica, arial, sans-serif;
}

.React-logo {
  height: 10vmin;
  pointer-events: none;
  vertical-align: middle;
}

.Dashboard-title {
}

@media (prefers-reduced-motion: no-preference) {
  .React-logo {
    animation: React-logo-spin infinite 20s linear;
  }
}

.App-header {
    
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Make it start from the top */
  justify-content: top;
  font-size: calc(10px + 2vmin);

  /* color: white; */
  /* background-color: #FFF; */
  /* background-color: #282c34; */
  
}

.link {
  color: #61dafb;
}

@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
